body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: black;
}
@media only screen and (min-width: 993px){
	.one:hover:hover , .two:hover, .three:hover{
	transform: scale(1.01,1.05);
	transition-duration: 0.5s;
	/* transition-timing-function: linear; */
	}
	.two{
		transform:scale(1.01,1.05) ;
		z-index:10;
	}

}
.plan-round{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #ff471a;
}

@media only screen and (max-width: 992px){
	.main-content{
		display: flex;
		flex-wrap: wrap;
	}
}
.one{
	z-index:10;
}
.three{
	z-index:5;
}
